@model JobsPortal.PresentationLayer.Models.UserCreate

@{
    ViewBag.Title = "Registration";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())

{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.Login)
    </div>
    <div>
        @Html.EditorFor(model => model.Login)
        @Html.ValidationMessageFor(model => model.Login)
    </div>

    <div>
        @Html.LabelFor(model => model.Password)
    </div>
    <div>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>


    <div>
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div>
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div>
        @Html.LabelFor(model => model.LastName)
    </div>
    <div>
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div>
        @Html.LabelFor(model => model.Email)
    </div>
    <div>
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div>
        @Html.LabelFor(model => model.Phone)
    </div>
    <div>
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>

    <div>
        @Html.LabelFor(model => model.Education)
    </div>
    <div>
        @Html.EnumDropDownListFor(x => x.Education,
                                  new { @class = "form-control" })
    </div>

    <div>
        <input type="submit" value="Confirm" />
    </div>
}
