@model JobsPortal.PresentationLayer.Models.ApplicationResolveModel

@{
    ViewBag.Title = "Application Resolve";
}


<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Education)
        </dd>

    </dl>
</div>

<div>
    <h4>Answers:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobOfferDto.Questionnaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobOfferDto.Questionnaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application.Answers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Answers)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Application Resolve</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.Application.JobOfferState, "State:", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EnumDropDownListFor(model => model.Application.JobOfferState)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

